FRONT_PORT=
BACK_PORT=
DB_PORT=


MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=hypertube
MYSQL_USER=
MYSQL_PASSWORD=
JWT_SECRET=read_the_fucking_manual
JWT_ACCESS_DURATION=15
JWT_REFRESH_DURATION=1440
DOMAIN=http://localhost
FRONT_HOST=http://localhost:{FRONT_PORT}
BACK_HOST=http://localhost:{BACK_PORT}
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FT_CLIENT_ID=
FT_CLIENT_SECRET=
FT_CALLBACK_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
GMAIL_ID=
GMAIL_PASSWORD=